<div *ngIf="helpExpanded">
  <div *ngIf="!key">
    <div layout="row" layout-align="start center" class="pull-bottom-md">
      <h2 class="md-title pull-top-xs pull-bottom-xs">Creating Your AWS Role</h2>
    </div>
    <div class="md-caption tc-blue-grey-700 help-contents">
      <md-list>
        <div layout="column">
          <p>1. Go to AWS IAM console and create your role.</p>
        </div>
        <div layout="column">
          <p>2. Give trusted access to Nebula ARN:</p>
          <td-highlight lang="json">
            {{ principalArn }}
          </td-highlight>
          <button md-mini-fab color="primary"
                  ngxClipboard [cbContent]="principalArn"
                  (click)="showClipMessage('ARN')"
                  tooltip-position="after"
                  md-tooltip="Copy to clipboard">
            <md-icon>content_copy</md-icon>
          </button>
        </div>
        <div layout="column">
          <p>3. Attach policy to your role:</p>
          <td-highlight lang="json">
            {{ policyDocument }}
          </td-highlight>
          <button md-mini-fab color="primary"
                  ngxClipboard [cbContent]="policyDocument"
                  (click)="showClipMessage('Policy')"
                  tooltip-position="after"
                  md-tooltip="Copy to clipboard">
            <md-icon>content_copy</md-icon>
          </button>
        </div>
      </md-list >
    </div>
  </div>

  <div *ngIf="key">
    <div layout="row" layout-align="start center" class="pull-bottom-md">
      <h2 class="md-title pull-top-xs pull-bottom-xs">Creating Your IAM AWS Access Key</h2>
    </div>
    <div class="md-caption tc-blue-grey-700 help-contents">
      <md-list layout="column">
        <md-list-item>
          1. Sign in to the IAM console at <a href="https://console.aws.amazon.com/iam/" target="_blank">https://console.aws.amazon.com/iam/</a>.
        </md-list-item>
        <md-list-item>
          2. In the navigation pane, choose Users.
        </md-list-item>
        <md-list-item>
          3. Choose the name of the desired user, and then choose the Security Credentials tab.
        </md-list-item>
        <md-list-item>
          4. To create an access key, choose Create Access Key.
        </md-list-item>
        <md-list-item>
          5. Choose Download Credentials to save the Access Key ID and Secret Access Key to a CSV file on your computer.
        </md-list-item>
      </md-list>
    </div>
  </div>

  <div layout="row" layout-align="end" class="pad-top-sm">
    <div class="push-right-sm">
      <button md-raised-button (click)="closeHelp()" color="primary" class="text-upper">Close</button>
    </div>
  </div>

</div>

<div id="add-cloud-credential-dialog" *ngIf="!helpExpanded">
  <div layout="row" layout-align="start center" class="pull-bottom-md">
    <h2 class="md-title pull-top-xs pull-bottom-xs">Add Cloud Credential</h2>
    <span flex></span>
    <a href="http://www.teradata.com/aws/" class="tc-grey-400">
      <md-icon tooltip-position="before" md-tooltip="More Info and Support" class="pull-left-lg pull-right-lg tc-blue-grey-100">help_outline</md-icon>
    </a>
  </div>
  <h3 class="md-body-1 tc-grey-700">This information is needed to deploy any configuration</h3>

  <div layout="row" layout-align="center center" layout-padding flex class="will-load pad-xl" *ngIf="isSaving()">
    <md-progress-spinner mode="indeterminate"></md-progress-spinner>
  </div>

  <ng-template [ngIf]="!isSaving()">
    <form #credentialForm="ngForm" novalidate flex>
      <div class="md-input-wrapper relative pad-right-sm pad-bottom-none" flex="100" layout="column">
        <md-radio-group name="credentialType" #credentialTypeElement #credentialTypeControl="ngModel" [(ngModel)]="credentialType" (change)="onCredentialTypeChange()" class="pad-top-xs">
          <md-radio-button value="1" class="pad-right-sm">Role</md-radio-button>
          <md-radio-button value="2">Key</md-radio-button>
        </md-radio-group>
      </div>

      <div layout="column" flex-gt-sm>
        <br />
        <div *ngIf="!key">
          <button md-button (click)="openHelp()" color="primary">How to create your AWS role...</button>
        </div>

        <div *ngIf="key">
          <button md-button (click)="openHelp()" color="primary">How to create your AWS IAM Access Key...</button>
        </div>

        <md-input-container>
          <input mdInput placeholder="Enter your credential name, e.g. My_Name" type="text" name="name" [(ngModel)]="name" required />
        </md-input-container>

        <md-input-container *ngIf="key">
          <input mdInput placeholder="Enter AWS Access Key" type="text" name="accessKey" [(ngModel)]="accessKey" required />
        </md-input-container>

        <md-input-container *ngIf="key">
          <input mdInput placeholder="Enter AWS Secret Key" type="text" name="secretKey" [(ngModel)]="secretKey" required />
        </md-input-container>

        <md-input-container *ngIf="!key" >
          <input mdInput placeholder="Enter AWS Role" type="text" name="role" [(ngModel)]="role" required />
        </md-input-container>
      </div>
    </form>

    <div layout="row" layout-align="end" class="pad-top-sm">
      <div class="push-right-sm">
        <button md-raised-button class="text-upper" (click)="close()">Cancel</button>
      </div>
      <button md-raised-button color="accent" (click)="save()" [disabled]="!credentialForm?.form.valid" *ngIf="key">ADD KEY</button>
      <button md-raised-button color="accent" (click)="save()" [disabled]="!credentialForm?.form.valid" *ngIf="!key">ADD ROLE</button>
    </div>
  </ng-template>
</div>
